<?xml version="1.0"?>
<launch>

  <arg name="gripper" default="false" doc="starts model with gripper"/>

  <include file="$(find ur_description)/launch/upload.launch">
	  <arg name="gripper" value="$(arg gripper)" />
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher"     pkg="robot_state_publisher"     type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_description)/rviz/conf.rviz" required="true" />
</launch>
